@mixin fuente-parrafos($family, $color){
    font-family: $family;
    color: $color

}

@mixin flex($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}

body {
    font-family: "acumin-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    padding-top: 100px;
    width: 100%;
    
    main {
        background-color: black;
        div {
            h1 {
                color: #fcc326;
                text-align: center;
                padding: 50px;
                font-weight: 500;
                transition: 1s;
                &:hover {
                    transform: scale(2);
                    transition: 1s ease-in-out;
                }
            }

            

            p {
                @include fuente-parrafos(acumin-pro, #f2f2f2);
                padding: 20px 5px;
                margin: 0px 20px;
                text-align: justify;
                
            }

            .mision_vision {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                color: #f2f2f2;
                text-align: center;
                font-size: 1rem;
                border: #f2f2f2 solid 1px;
                margin: 10px;
                padding: 20px;
            
            }
                
            .mision1 { 
                grid-area: 1 / 1 / 2 / 3; 
            }
            .vision1 { 
                grid-area: 1 / 4 / 2 / 6; 
            }
            .mision2 { 
                grid-area: 2 / 1 / 3 / 3; 
            }
            .vision2 { 
                grid-area: 2 / 4 / 3 / 6; 
            }

            img {
                width: 100%;
            }

            span {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                align-items: flex-start;
                padding: 20px 10px;
                
                

                .card{
                    margin: 20px 20px;
                    h5{
                        font-weight: 700;
                    }
                    p {
                        color: black;
                        font-size: 1rem;
                    }
                }

                iframe{
                    margin: 0px 50px;
                    flex-wrap: wrap;
                }
            }
            form {
                background-color: #fff;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                max-width: 400px;
                width: 100%;
                label {
                    display: block;
                    margin-bottom: 8px;
                }
                input, textarea {
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 16px;
                    box-sizing: border-box;
                }
                button {
                    background-color: #fcc326;
                    color: black;
                    padding: 10px 15px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }
        .formulario-container{
            
            .formulario-item {
                font-family: Arial, Helvetica, sans-serif, sans-serif;
                background-color: black;
                margin: 10px;
                padding: 10px;
                display: flex;
                align-items: center;
                flex-direction: column;
                height: 100vh; 
                margin-bottom: 100px;
                h2{
                    color: #fcc326;
                    font-weight: 500;
                }
            }
            
        }

        section{
            font-family: Arial, sans-serif;
            background-color: black;
            margin: 0px;
            padding: 0;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            @include flex(flex, center, center );
            height: 100vh;
            color: black;
            form {
                background-color: #fff;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                max-width: 400px;
                width: 100%;
                text-align: center;
                margin: 20px ;
                h2{
                    color: black;
                }
                label {
                    display: block;
                    margin-bottom: 8px;
                }
                input {
                    width: 100%;
                    padding: 8px;
                    margin-bottom: 16px;
                    box-sizing: border-box;
                }
                label.btn {
                    background-color: #fcc326;
                    color: #fff;
                    padding: 10px 15px;
                    border-radius: 4px;
                    cursor: pointer;
                    display: inline-block;
                    margin: 0 5px 10px;
                }
                input:checked + label.btn {
                    background-color: #45a049;
                }
                button {
                    background-color: #4caf50;
                    color: #fff;
                    padding: 10px 15px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    margin: 5px 9rem;
                }
            }
        }
        .donaciones {
            height: fit-content;
            padding: 20px;
            form{
                margin: auto;
            }
        }

        h2 {
            color: #f2f2f2;
            text-align: center;
            padding-bottom: 15px;
        }

        ul {
            color: #f2f2f2;
            text-align: center;
            list-style: none;
            padding: 50px
        }
        .content {
            position: relative;
            z-index: 1; /* Ensure content is above the bee */
          }
          
          .bee-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          
          .bee {
            width: 50px;
            height: 50px;
            background-color: #ffd700; /* bee color */
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: fly 5s linear infinite;
            z-index: 2;
          }
    }
}