header {
    background-color: #f2f2f2;
    color: #402b04;
    nav{
        div{
            div{
                a:hover {
                    color: #402b04;
                }
            }
        }
    }
}